@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  background-color:black;
    --colorgreen: rgb(166, 226, 46);
    --blackcolor: rgb(0, 0, 0);
    --lightgrey:#DCDCDC;
}

body {
  box-sizing: border-box;
  width: 99vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: full;
  height: auto;
  padding: 20px;
  /* border: 1px solid black; */
}
p {
  line-height: 1.6; /* Sets line spacing to 1.6 times the font size */
}
.primary-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
    color: white;
}
.secondary-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
    color: white;
}

.logo {
  width: 110px; /* Set your desired width */
  height: auto; /* Automatically adjusts to prevent distortion */
}

.navbar {
  position: fixed; /* helps keep the navbar stick to top*/
  top: 0; /* helps keep the navbar stick to top*/
  z-index: 999; /* Keeps navbar above other content */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  background: var(--lightgrey); /* Optional background */
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2); /* h v blur spread color */
}

.hero {
  width: 100%;
  padding-top: 40px;
  display: flex;
  align-items: self-end;
  justify-content: baseline;
  flex-wrap: wrap;
}

.bottom-text {
  justify-content: flex-end; /* Pushes content to the bottom */
}

.special-color {
  color: var(--colorgreen);
}

.horizontal-menu {
  display: flex; /* Aligns items in a row */
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}
.vertical-menu {
  display: flex; /* Aligns items in a col */
  flex-direction: column;
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}
.vertical-menu a {
  /* Styles the links as blocks to fill the width */
  display: block;
  padding: 5px 5px; /* Adds padding inside each menu item */
  background-color: #f4f4f4;
  color: var(--colorgreen);
  text-decoration: none; /* Removes default underline */
  border-radius: 4px;
}

.vertical-menu a:hover {
  background-color: #262424;
}
.horizontal-menu li {
  padding: 10px 10px; /* Adds spacing around menu items */
}

.vertical-menu li {
  padding: 3px 3px; /* Adds spacing around menu items */
  max-width: 200px;
}

.horizontal-menu a {
  color: rgb(11, 13, 34);
  text-decoration: none; /* Removes underlines */
  font-size: 1.1rem;
  font-weight: 600;
}

.horizontal-menu a:hover {
  color: var(--colorgreen);
}

.banner {
  margin: 10px auto;
  display: grid;
  max-width: 90%;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  justify-items: flex-end;
  align-items: center;
  gap: 40px;
}

.banner-image {
  width: 40vw;
  display: inline-block;
}

.plants {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-title {
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}
.card {
    margin: 30px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: var(--colorgreen);

}

.card:hover {
    border: var(--colorgreen);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

}

.card img {
  /* Essential image styles */
  width: 290px; /* Image takes the full width of the card container */
  height: 300px; /* Example fixed height for uniform cards */
  object-fit: cover; /* Crops the image to cover the area while maintaining aspect ratio */
  /* Optional: Round the top corners of the image to match the card */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
    padding: 20px;

}

button {
  display: inline-block; /* Allows padding and margin, and keeps it inline */
  padding: 10px 10px; /* Space between text and border (top/bottom, left/right) */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underlines from <a> tags */

  /* Color and background */
  background-color:white;
  color: var(--blackcolor); /* White text color */

  /* Font and appearance */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Change mouse cursor to a hand on hover */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  /* Hover effect: changes background color when the user hovers over the button */

  background-color: var(--colorgreen); /* A different color on hover */
}

.news-letter-container {
  position: relative; /* Essential for positioning the pseudo-element */
  width: 100%;
  height: 600px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-letter-container::before {
  content: "";
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  position: absolute;
  /* top: 0;
    left: 0; */
  width: 100%;
  height: 100%;
  opacity: 1; /* Set desired opacity here (0.0 to 1.0) */
  z-index: -1; /* Places the image behind the container's content */
}

footer {
  width: 99%;
  /* position: fixed; */
  bottom: 0;
  z-index: 999;
  display: flex;
    flex-direction: row;
  background: var(--lightgrey); /* Optional background */
  /* max-width: fit-content; */
  gap: 20px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2); /* h v blur spread color */
    margin: 0 auto;
    padding: 2rem;
}
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1.5rem;
    text-align: center;
}

.footer-bottom p {
    color: var(--blackcolor);
    margin: 0;
    font-size: 14px
}



/* for smaller screen */
@media screen and (max-width: 768px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: auto;
  }
  .horizontal-menu li {
    padding: 5px 5px; /* Adds spacing around menu items */
  }

  .banner {
    width: fit-content;
    display: flex; /* Hide an element on small screens */
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-items: baseline;
    align-items: flex-start;
  }
  .banner-image {
    width: 90vw;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 5px;
  }

  .email-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
  }
}
